auth/.env
auth/__pycache__
auth/auth/

main/.env
main/__pycache__
main/main/

messages/.env
messages/__pycache__
messages/messages/

frontend/user/.env
frontend/user/node_modules

frontend/admin/.env
frontend/admin/node_modules

.vscode