$color-primary: #2976d0;
$color-secondary: #eef8ff;
$color-light-primary: rgba(41, 118, 208, 0.3);
$color-dark: #000;
$color-light: #fff;
$color-light-dark: #1b2436;
$color-grey: #c2c9d199;
$color-light-grey: rgba($color-dark, 0.1);

$animation: all 0.3s ease-in-out;

$screen-mobile: 576px;
$screen-tablet: 878px;
$screen-laptop: 1024px;
$screen-desctop: 1440px;
