.popup {
    position: absolute;
    background-color: var(--color-dark);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 1rem;

    p {
        font-weight: 600;
        color: var(--color-primary);
    }

    &::after {
        content: '';
        position: absolute;
        left: -100px;
        top: 50px;
        background-color: var(--color-dark);
        width: 10px;
        height: 10px;
    }
}