@use '../../variables';

.tabs{
    background-color: #ECF7FF;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;

    @media screen and (max-width: variables.$screen-xs) {
      width: 100%;
    }
}

.tab{
    padding: 1.2rem 2.2rem;
    border-radius: 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    min-width: 13.6rem;
    text-align: center;

    @media screen and (max-width: variables.$screen-xs) {
        width: 100%;
        padding: 1.2rem;
      }
}

.currentTab{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.otherTab{
    color: var(--color-secondary);
}
