@use '../../assets/styles/variables';

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($color: variables.$color-dark, $alpha: 0.7);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(1rem);
  z-index: 120;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  &_right {
    align-content: stretch;

    .modalContainer {
      margin-left: auto;
      height: 100%;
      width: 100%;
      padding: 0;
      scrollbar-gutter: auto;
    }

    .modal {
      margin: 0;
      margin-left: auto;
      transform: translateX(6rem);
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-top: 4rem;
    }

    .btnClose {
      top: 1rem;
      right: 1rem;
      color: variables.$color-grey;
    }
  }

  @media screen and (max-width: variables.$screen-mobile) {
    align-content: stretch;
  }
}

.modal {
  transition: all 0.2s ease-in-out;
  padding: 5rem 7rem;
  border-radius: 3rem;
  background-color: variables.$color-light;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  transform: translateY(-2rem);

  &_big {
    width: 90%;
    height: 90%;
  }

  @media screen and (max-width: variables.$screen-mobile) {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0;
  }
}

.btnClose {
  color: variables.$color-grey;
  position: absolute;
  right: -3rem;
  top: -2rem;
  cursor: pointer;

  @media screen and (max-width: variables.$screen-mobile) {
    right: 0.7rem;
    top: 1rem;
    color: variables.$color-grey;
  }

  svg {
    transform: scale(1.2);
  }
}

.openModal {
  visibility: visible;
  opacity: 1;
  pointer-events: all;

  .modal {
    transform: translateY(0rem);
  }
}

.modalContainer {
  padding: 3rem 0;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: variables.$screen-mobile) {
    overflow: hidden;
    padding: 0;
    scrollbar-gutter: auto;
  }
}
