@use '../../assets/styles/variables';

.table{
    width: 100%;
    border-collapse: collapse;
    
    thead{
        th{
            padding: 2rem 1.6rem;
            white-space: nowrap;
        }
        tr{
            border: 0;
        }
    }

    td{
        padding: 1.6rem;
        text-align: center;
        white-space: nowrap;
    }

    tr{
        border-top: .1rem solid variables.$color-light-grey;
    }
}

.container{
    width: 100%;
    border: .15rem solid variables.$color-light-grey;
    border-radius: 1.2rem;
    overflow-x: auto;
    margin-bottom: 2rem;
}